<div class="container page-content">
    <h1>{{name}}</h1>
    <hr>
    <input hidden type="text" id="event_id" value="{{_id}}"></input>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row ">
                    <div class="col text-center"><img class="imgDet" src="{{cover}}" alt=""></div>
                    <div class="col text-center">
                        <h5>{{description}}<h5>
                                <div class="row">
                                    {{#if result.rights}}
                                    <div class="col">
                                        <a href="/events/edit/{{_id}}"><button type="button"
                                                class="btn btn-dark mt-3">Edit</button></a>
                                    </div>
                                    <div class="col ">
                                        <form action="/events/delete/{{_id}}" method="POST" class="mt-2">
                                            <input type="submit" value="Delete" class="btn btn-danger mt-2">
                                        </form>
                                    </div>
                                    {{/if}}
                                </div>
                    </div>
                </div>

                <div class="row ">
                    <figure id="theMap" class="mt-5 maponchi"></figure>
                </div>


            </div>
            <div class="col-6 ml-2">
                <ul class="list-group maponchi" style="height: 400px; overflow-y:scroll">
                    {{#each comments}}

                    <li class="list-group-item list-group-item-success">{{comment}}</li>
                    <p>by <a href="/profile/details/{{author.id}}">{{author.username}}</a> </p>
                    {{/each}}
                </ul>
                <div class="container">
                    <div class="row d-flex">
                        <form action="/events/{{id}}/createComment" method="POST">
                            <div class="col-md-9">
                                <label for="comment" class="form-label">Comment here</label>
                                <input type="text" class="form-control" id="comment" name="comment">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-dark mt-3">comment</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/eventmaps-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyAXrluxt6edH6GHzswvJd_nckU_vPeBjzc"></script>