<div class="page-content">
    {{#if result.rights}}
    <div class="container text-center"><a class="btn btn-dark mb-2" href="/events/events-create">Create an event</a>
    </div>

    {{/if}}
    <div class="container" style="overflow-y: scroll; width:80vw">
        <div class="row lalala text-center">
            {{#each events}}
            <div class="card col-md-4 col-lg-4 mb-2" style="max-width: 300px; margin-right:60px;margin-bottom:20px">

                <img src="{{cover}}" class="card-img-top mt-2 cardContent" alt="{{this.name}}">
                <div class="card-body cardContent">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{tdescription}}</p>
                    <p class="card-text"><small class="text-muted">{{startDate}}</small>
                    </p>
                    <p class="card-text">The subscription is {{type}}</p>
                    <div class="row">
                        <div class="col md-4">
                            <form action="/events/add/{{id}}" method="POST">
                                <button type="submit" class="btn btn-outline-dark mt-3">Sign Up!</button>
                            </form>
                        </div>
                        <div class="col md-4">
                            <a href="/events/details/{{_id}}"><button type="button"
                                    class="btn btn-dark mt-3">Details</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>