<div class="page-content">

    <div class="card col-12 col-md-6 col-lg-3 coli">
        <img class="card-img-top" src="{{primaryImage}}" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{artistDisplayName}} <br>{{artistDisplayBio}} <br></p>
            <p class="card-text">Department:{{department}} <br>Culture: {{culture}} <br></p>
            <a href="{{objectWikidata_URL}}" class="btn btn-dark block">Read about it in wikiPedia</a>
        </div>
    </div>

</div>