<div class="container page-content" style="margin: auto;">

    <div class="card col-12 col-md-12 col-lg-12" style="margin-top:60px">
        <div class="row">
            <div class="col-md-6">
                <img class="card-img-top m-2" {{#if primaryImage}}src="{{primaryImage}}"
                    {{else}}src="https://pbs.twimg.com/media/EXy4I5NXYAAwDl8?format=jpg&name=900x900" {{/if}}
                    alt="{{title}}">
                <div class="card-body" style="max-width: 500px;">
                    <h5 class="card-title">{{title}}</h5>
                    <h6 class="card-text">Artist name: {{#if artistDisplayName}}{{artistDisplayName}}{{else}}
                        unknown{{/if}} <br>{{artistDisplayBio}} <br></h6>
                </div>
            </div>
            <div class="col-md-6">
                <h4></h4>
                <p class="card-text">
                <h6>Department:</h6>{{#if department}}{{department}}{{else}}Not found{{/if}} <br>
                <hr>
                <h6>Created:</h6>{{#if objectDate}}{{objectDate}}{{else}}Not found{{/if}} <br>
                <hr>
                <h6>Culture:</h6>{{#if culture}}{{culture}}{{else}}Not found{{/if}}<br>
                <hr>
                {{#if medium}} <h6>Material: {{medium}}</h6> <br>
                <hr>{{/if}}
                {{#if repository}} <h6>Repository: {{repository}}</h6> <br>
                <hr>{{/if}}
                </p>
                <a href="{{objectWikidata_URL}}" class="btn btn-dark block">Read about it on Wikipedia</a>
                {{#if isFav}}
                <form class="col-md-6" action="/gallery/favorites/{{objectID}}" method="POST">
                    <button type="submit" class="btn btn-outline-danger mt-3"> 💔</button>
                </form>
                {{else}}
                <form class="col-md-6" action="/gallery/favorites/{{objectID}}" method="POST">
                    <button type="submit" class="btn btn-outline-dark mt-3" style="color: red; width: 100%;">
                        ♥</button>
                    {{/if}}
            </div>
        </div>
    </div>

</div>