<div class="container bajito">
    <div class="page-content">
        <h2>Search Form</h2>
        <form method="get" action="/gallery">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="search" aria-label="Search"
                    aria-describedby="searchButton" value="{{title}}">
                <button class="btn btn-outline-primary" type="submit" id="searchButton">Search by title</button>
            </div>
        </form>
        <form method="get" action="/gallery/author">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="author" aria-label="Search"
                    aria-describedby="searchButton" value="{{author}}">
                <button class="btn btn-outline-primary" type="submit" id="searchButton">Search by author</button>
            </div>
        </form>




        {{!-- {{#if gallery.length }}<p>We've found {{gallery.length}} results</p>
        {{else}} <div class="alert alert-danger">No results were found</div> {{/if}} --}}

        {{!-- <div class="
        
        
         row"> --}}
            <div class=" gallery row page-content">
                {{#each objectData}}
                <div class="card col-6 col-md- col-lg-3 coli">
                    <img class="card-img-top" src="{{this.primaryImage}}" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.artistDisplayName}} <br>{{this.artistDisplayBio}}</p>
                        <a href="/gallery/details/{{this.objectID}}" class="btn btn-dark block">Go to details</a>
                    </div>
                </div>
                {{/each}}

            </div>
            {{!--
        </div> --}}
        {{!-- {{#if author}}
        <div class="gallery row">
            {{#if nResults}}<p>We've found {{nResults}} results</p>
            {{else}} <div class="alert alert-danger">No results were found</div> {{/if}}
            {{/if}}
            <div class="page-content">
                {{#each postList}}
                <div class="card col-12 col-md-6 col-lg-3 coli">
                    <img class="card-img-top" src="{{this.primaryImage}}" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.artistDisplayName}} <br>{{this.artistDisplayBio}}</p>
                        <a href="/gallery/details/{{this.objectID}}" class="btn btn-dark block">Go to details</a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div> --}}
    </div>

</div>