<div class="page-content">
    <div class="container ">
        <div class="center">
            <div class="row">

                <div class="col md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{user.avatar}}" class="card-img-top marginIm mt-3" alt="{{user.username}}">
                        <div class="card-body">
                            <h5 class="card-title">{{user.username}}</h5>
                            <hr>
                            <p>{{user.role}}</p>
                            <p class="card-text">{{user.about}}</p>
                            <a href="/profile/list" class="btn btn-dark ">Go back</a>


                        </div>
                    </div>
                </div>
                {{!-- render de usuario --}}




                {{#if profile}}
                <div class="col md-4 whiteBG">
                    <form action="/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Edit your username</label>
                            <input type="text" class="form-control" value="{{user.username}}" id="usernameInput"
                                name="username">
                        </div>

                        <div class="mb-3">
                            <label for="avatar" class="form-label">Profile picture</label>
                            <input type="file" class="form-control" id="avatar" name="avatar">
                        </div>

                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Change your description</label>
                            <input type="text" value="{{user.about}}" class="form-control" id="descriptionInput"
                                rows="3" name="about">
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark block">Submit</button>
                        </div>
                    </form>
                </div>


                {{/if}}
                {{#if isAdmin}}
                <div class="col md-4 ">

                    <form class="mt-4" action="/profile/edit/{{user._id}}" method="POST">
                        <select name="role">
                            <option value="USER">USER</option>
                            <option value="GUIDE">GUIDE</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                        <input type="submit" class="btn btn-dark block" value="Change role">
                    </form>
                    <form action="/profile/delete/{{user._id}}" method="POST" class="mt-2">
                        <input type="submit" value="eliminar" class="btn btn-danger btn-sm">
                    </form>

                </div>
                {{/if}}

            </div>

        </div>
    </div>
</div>