<div class="page-content">

    <div class="card col-12 col-md-6 col-lg-3 coli">
        <img class="card-img-top" src="{{primaryImage}}" alt="{{this.title}}">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.artistDisplayName}} <br>{{this.artistDisplayBio}} <br></p>
            <p class="card-text">Department:{{this.department}} <br>Culture: {{this.culture}} <br></p>
            <a href="{{this.objectWikidata_URL}}" class="btn btn-dark block">Read about it in wikiPedia</a>
        </div>
    </div>

</div>